* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
  background: #fff;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}

.header {
  padding: 20px 0px;
  background: #000000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

.nav a:hover{
  color: #E14817;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons a {
  display: flex;
  align-items: center;
}

.btn {
  padding: 16px 22px;
  text-decoration: none;
  background: #E14817;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.btn-hover-sign-up:hover {
  background-color: white;
  color: black;

}

.btn-outline {
  background: transparent;
  color: #ffffff;
  border: 2px solid #000;
}

.btn-outline:hover {
  background: #000;
  color: #fff;
  border: 2px solid #ffffff;
}

.section-bg-banner {
  background-color: #000;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
  gap: 40px;
}
/* 
.banner-content-block {
  max-width: 630px;
  margin-bottom: 56px;
} */
/* 
.banner-content-block h1 {
  font-size: 70px;
  line-height: 120%;
  font-weight: 700;
  color: white;
  margin-bottom: 24px;
} */

.img-circle{
  max-width: 522px;
  max-height: 522px;
  object-fit: cover;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: 0.3s;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


/* Mobile styles */
@media (min-width: 375px) {
  .nav {
    position: absolute;
    top: 80px;
    left: 0;
    background: #000000;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
  }

  .nav.active {
    display: flex;
  }

  .auth-buttons {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .auth-buttons {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .auth-buttons .btn,
  .auth-buttons .btn-outline {
    width: 100%;
    text-align: center;
  }

  .burger {
    display: flex;
  }

  .hero {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    padding: 60px 0;
    gap: 10px;
  }

  .banner-content-block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .banner-content-block h1 {
    color: #fff;
    font-size: 36px;
    line-height: 120%;
    font-weight: 600;
  }

  .banner-content-block p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color:#CFCFD1;
    margin-bottom: 40px;
  }

  .img-circle {
    max-width: 327px;
  }

  .banner-block-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .btn-secondary {
    background-color: #000000;
    border-radius: 8px;
    border: 2px solid white;
  }
  .section-logo-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    background-color: #27282E;
    padding: 40px 0px;
  }

  .section-logo-clients span img {
    max-width: 146px;
    max-height: 94px;
  }

  .bg-color-block-device {
    background-color: #F8F8F8;
    padding: 56px 0px;
    
  }

  .bg-color-block-device h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 16px;
    color: #0F1017;
  }

  .bg-color-block-device p {
    font-size: 16px;
    font-weight: 400;
    color: #57585D;
    line-height: 28px;
  }


  .bg-color-block-device img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 32px;
  }


  .bg-color-block-virtual {
    background-color: #F8F8F8;
    padding: 56px 0px;
    
  }

  .bg-color-block-virtual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 32px;
  }

  .bg-color-block-virtual h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 16px;
    color: #0F1017;
  }

  .bg-color-block-virtual p {
    font-size: 16px;
    font-weight: 400;
    color: #57585D;
    line-height: 28px;
  }
  /* block video calls and block conferences */
  
  .bg-color-block-video-calls, .bg-color-block-conferences {
    background-color: #0F1017;
    padding: 56px 0px;

  }

  .block-video-calls-title, .block-conferences-title {
    margin-bottom: 40px;
  }

  .bg-color-block-video-calls img, .bg-color-block-conferences img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 32px;
  }

  .bg-color-block-video-calls span, .bg-color-block-conferences span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 3.2px;
    color: #9F9FA2;
    margin-bottom: 16px;
  }

  .bg-color-block-video-calls h2, .bg-color-block-conferences h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 16px;
    color: #FFFFFF;
  }

  .bg-color-block-video-calls p, .bg-color-block-conferences p {
    font-size: 16px;
    font-weight: 400;
    color: #CFCFD1;
    line-height: 28px;
  }

  .video-calls-points p, .conference-points p {
    display: flex;
  }

  .video-calls-points img, .conference-points img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

  .block-ceo {
    padding: 54px 0px;
  }

  .block-ceo-title {
    display: flex;
    align-items: center;
  }

  .block-ceo-title img {
    margin-right: 16px;
  }


  .block-ceo-title h3 {
    margin-bottom: 4px;
  }

  .block-ceo-review p {
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    color: #0F1017;
  }

  .block-ceo-review-text {
    position: relative;
    max-width: 600px;
    font-size: clamp(18px,2vw,36px);
    font-weight: 500;
    padding: 43px 32px 0px;
    line-height: 150%;
    color: #0F1017;
  }

  .block-ceo-review-text::before,
  .block-ceo-review-text::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .block-ceo-review-text::before {
    width: 75px;
    height: 75px;
  }

  .block-ceo-review-text::before {
    top: 38px;
    left: 38px;
    transform: translate(-50%, -50%);
    background-image: url('../img/ornament-up.png');
  }

  .block-ceo-review-text::after {
    /* bottom: 10;
    left: 260; */
    transform: translate(50%, 50%);
    background-image: url('../img/ornament-down.png');

  }
  .create-conference {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #a42c08;
    padding: 56px 24px;
    border-radius: 10px;
  }
  
  .create-conference h3{
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 130%;
    
  }
  
  .create-conference p {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 28px;
  }
  
  .conference-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 20px ;
  }
  
  .conference-block-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  
  }
  
  
  .conference-btn-secondary {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding: 16px 22px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid white;
    transition: 0.3s;
  }



/*FOOTER*/
.footer {
  background: #ffffff;
  color: #000000;
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
}

footer {
  background-color: #f9f9f9;
  padding: 2rem;
  font-family: sans-serif;
  color: #333;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: start;
}

.logo-footer {
  margin-bottom: 40px;
}

.logo-footer img {
  margin-bottom: 16px;
}

.logo-footer p {
  color: #6F7074;
}

.footer-columns {
  display: grid;
  grid-template-columns: 102px 102px;
  gap: 56px;
}

.footer-column {
  text-align: start;
}

.footer-column h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  text-decoration: none;
  color: inherit;
}

.footer-column form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.footer-column input[type="email"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.footer-column button {
  padding: 0.5rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-column button:hover {
  background-color: #555;
}

.footer-column small {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #666;
}

}